body{
        font-family: Arial, sans-serif;
        padding: 0;
        box-sizing: border-box;
        background-color: #F6D788;
        height: 100vh;
        display: flex;
        justify-content: center;
        
    
}
.container{
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    padding: 0;
    margin: 0;
}
.section{
    flex: 0 0 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: black;

}
#section1{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: center;

}
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 50%;
    height: 65%;
    
    
}
.eish{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    
}
.welcome{
    text-align: center;
    justify-content: center;
    font-size: 150pt;
    width: 80%;
    height: 60%;
    font-family: Rancho;
}
.me{
    font-family: Auster;
    font-weight: medium;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 90%;
    height: 25%;
    font-size: 25pt;
}
.name{
    display: grid;
    grid-template-rows: 70% 30%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
}
.about{
    font-family: Karma;
    font-size: 20px;
    width: 100%;
    height: 70%;
    margin-top: -10%;
    text-align: center;
    
}
.icons{
    justify-content: center;
    align-items: center;
    place-self: center;
width: 50%;
height: 70%;
display: grid;
grid-template-columns: repeat(5, 10%);
gap: 1rem;
margin-bottom: 10px;
}
.icon{
    place-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    
}
.icon a:hover {
    border-radius: 20px;
    background-color: white;
    color: black;
}

#pictuer{
    
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
}
.pic{
    display: flex;
    
    width: 100%;
    height: 80%;
}
.calltoaction{
    display: flex;
    width: 30%;
    height: 5%;
    margin-top: 15px;
    gap: 1rem;
    place-self: center;
    text-align: center;
    font-family: Auster; font-size: 10pt; text-align: center; justify-content: center; margin-left: 0%;
}

.section:nth-child(1) {
    background-color: transparent;
}

#section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 100%;
}
.textone{
    height: 50%;
    width: 30%;
    text-align: left;
    margin-left: 5%;
    font-size: 15pt; 
    font-family: Karma;

}
.eish2 >p{
    font-size: 15pt;
    font-family: Karma;
}

.texttwo{
    height: 80%;
    width: 40%;
    flex: 1;

margin-right: 5%;
}

.section:nth-child(2) {
    background-color: transparent;
    flex: 0 0 80vh;
}


#section3{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: center;

}
#career{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 40%;
    height: 50%;
    padding: 5%;
    
}
.eish2{
    display: flex;
    flex-direction: column;
    gap: none;
}
.eish2 >h1{
    font-family: Rancho; font-size: 50pt;
}
.esih2 >p{
    font-family: Karma; font-size: 15pt; text-align:left;
}
#arsenal{
    
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    gap: 1rem;
    margin-right: 5%;
}
.skill{
    display: grid;
    grid-template-rows: 40% 60%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}
.skilltitle{
    height: 40%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    place-items: center;
    font-size: 50pt;
    font-family: Rancho;
}
.skilltext{
    text-align: center;
    place-items: center;
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    font-family: Karmara;
    font-size: 15pt;
}
.level{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 60%;
} 
.level{
    display: grid;
    grid-template-rows: 20% 80%;

} 
.big-row {
    text-align: center;
    width: 100%;
    height: 100%;
    
    font-size: 40pt;
    font-family: Rancho;
    justify-content: center;
}
.small-row {
    margin-top: 1%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 78%;
    
}
.tools{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 1rem);
    gap: 3%;
text-align: center;
font-size: 10pt;
}
.description{
    text-align: center;
    font-family: Karma;
    font-size: 10pt;
}
.range{
    margin-left: 5%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 1rem);
    gap: 3%;
    
}

.section:nth-child(3) {
    background-color: transparent;
    flex: 0 0 120vh;
}


#section4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
#myvoice{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    
    margin-right: 5%;
    
}
.fullbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    
}
#mv{
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 68%;
    height: 100%;

}
#mv {
    display: grid;
    grid-template-columns: 50% 50%;
}

.mv1{
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 1rem;
    
    height: 100%;
}
.mv2{
    
    display: grid;
    grid-template-rows: 50% 50%;

    height: 100%;
}
#mvtext{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    
    font-size: 17pt;
    margin-left: 5%;
}
#mvtext >h1{
    font-family: Rancho; font-size: 50pt; align-self: flex-start;
}
#mvtext >p{
    font-family: Karma; font-size: 15pt; align-self: flex-start;
}

.section:nth-child(4) {
    background-color: transparent;
}

#section5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
#mfmtext{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    
    margin-left: 5%;
}
#mfmpic{
    display: grid;
    grid-template-rows: 80% 20%;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    
    margin-right: 5%;
}
.navbar {
    font-size: 20pt;
    place-self: center;
    width: fit-content;
    border-radius: 24px;
    z-index: 1000;
    height: 35%;
    gap: 1rem;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    gap: 1%;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 20pt;
    border-radius: 30px;
}
.icon-container {
    visibility: hidden;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.slid{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 50px; 
}
.sec {
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    padding: 60px 20px;
    box-sizing: border-box;
}
.sec:target{
    left: 0;
    opacity: 1;
}
.section:nth-child(5) {
    background-color: transparent;
    flex: 0 0 70vh;
}

#section6{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: center;

}
#yamtext{
    
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 52%;
    margin-left: 5%;
    font-size: 15pt;
    text-align: left;
    hyphens: none;
}
#yampic{
    display: flex;
    flex: 2;
    width: 50%;
    height: 90%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 5%;
    gap: 1%;
}
.pic5{
    height: 100%;
} 
.pic6{
    height: 100%;
}

.section:nth-child(6) {
    background-color: transparent;
    flex: 0 0 80vh;
}

#section7{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5%;
}

.vibestext{
    
    place-self: center;
    display: flex;
    width: 30%;
    height: 50%;
    margin-left: 5%;
    font-size: 15pt;
    font-family: Karma;
    text-align: left;
}
.vibestext >h1{
    font-family: Rancho; font-size: 50pt; align-self: flex-start;
}
.vibestext >p{
    font-family: Karma; font-size: 15pt; align-self: flex-start;
}
.vibesbook{
    display: flex;
    width: 65%;
    height: 100%;
    margin-right: 5%;
}
.section:nth-child(7) {
    background-color: transparent;
    flex: 0 0 100vh;
}

/* Responsive layout */
@media (max-width: 400px) {
    #section1{
        display: grid;
        grid-template-row: 100% 100%;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .welcome{
        text-align: center;
  justify-content: center;
  font-size: 95pt;
  width: 100%;
  height: 50%;
    }
    .me{
        font-size: 21pt;
    }
    .about{
        font-size: 18px;
    }
    .icons{
        width: 79%;
        height: 100%;
    }
    .calltoaction{
        height: 10%;
        margin-left: -2%;
    }

    #intro{
        height: 100%;
        width: 390px;
        
    
    }
    #pictuer{
        height: 200px;
        width: 390px;
    }
    #picture >img{
        margin-left: 20%;
    }
    #section2 {
        display: grid;
        grid-template-rows: 355px 500px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: none;
    }
    .textone {
        height: 100%;
        width: 377px;
        font-size: 12pt; font-family: Karma;
        padding: 10px;
        margin-right: 36px;
    }
    .texttwo{
        height: 55%;
        width: 97%;
        margin-bottom: 62%;
    }
    .texttwo >img{
        margin-left: 20%;
    }

    #section3{
        display: grid;
        grid-template-rows: 250px 600px;
        width: 100%;
        height: 100%;
        align-items: center;
        gap: 5px;
        justify-content: center;
    
    }

    #career{
        justify-content: center;
        width: 390px;
        height: 250px;
    }
    .eish2{
        padding-bottom: 15%;
    }
    .eish2 >h1{
        font-size: 50pt;
    }
    .eish2 >p{
        font-size: 12pt;
    }
    .skill{
        margin-top: -27%;
        margin-bottom: -23%;
        background-color: transparent;
    }
    .skilltitle{
        height: 20%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  place-items: center;
  font-size: 31pt;
  
    }
    .skilltext{
        height: 34%;
    }
    #arsenal{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 605px;
        gap: 1rem;
    }
    .big-row{
        text-align: center;
  width: 100%;
  height: 67%;
  font-size: 35pt;
  margin-top: -5%;
    }

    .small-row{
        margin-top: -12%;
    }
    .tools{
        gap: 5%;
    }
    .description{
        font-size: 9pt;
    }
    .range{
        gap: 5%;
    }

    #section4{
        margin-top: 35%;
        display: grid;
        grid-template-column: 250px 600px;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 5px;
    }
    #mvtext{
        
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 250px;
        margin-top:10%;
        margin-left: 3%;
    }
    #mvtext >h1{
        font-size: 50pt;
    }
    #mvtext >p{
        font-size: 12pt;
    }
    #myvoice{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 600px;
        margin-top: 15%;
    }
    #mv{
        width: 100%;
        height: 50%;

    }
    .fullbody{
        display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 71%;
  height: 33%;
  margin-top: -26%;
    }
    #section5{
        margin-top: 78%;
        display: grid;
        grid-template-rows: 250px 600px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 100%;
    }
    #mfmtext{
        place-self: center;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 100%;
        margin-left: 0%;
    }
    #mfmtext >h1{
        font-size: 50pt;
    }
    #mfmtext >p{
        font-size: 12pt;
    }
    #mfmpic{display: grid;
        grid-template-rows: 71% 20%;
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 90%;
        margin-top: 50%;
    }
    #mfmpic .navbar{
        background-color: transparent;
        margin-left: 10%;
    }
    #section6{
        margin-top: 94%;
        display: grid;
        grid-template-rows: 256px 378px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    
    }
    #yamtext{
        place-self: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    #yamtext >h1{
        font-size: 50pt;
    }
    #yamtext >p{
        font-size: 12pt;
    }
    #yampic{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            gap: 1%;
            margin-top: 97%;
    
    }
    #yampic .pic5{
        width: 100%;
    }
    #yampic .pic6{
        width: 100%
    }
    #section7{
        margin-top: 123%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 5%;
    }
    .vibestext{
        place-self: center;
        display: flex;
        width: 100%;
        height: 50%;
        font-size: 15pt;
        font-family: Karma;
        text-align: left;
    }
    .vibestext >h1{
        font-family: Rancho;
        font-size: 40pt;
    }
    .vibestext >p{
        font-family: Karmara;
        font-size: 12pt;
    }
    .vibesbook{
        display: flex;
        width: 100%;
        height: 100%;
        margin-left: 5%;
        margin-top: 0%;
    }
}