body{
        font-family: Arial, sans-serif;
        padding: 0;
        box-sizing: border-box;
        background-color: antiquewhite;
        height: 100vh;
        display: flex;
        justify-content: center;
        
    
}
.container{
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    padding: 0;
    margin: 0;
}
.section{
    flex: 0 0 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;

}
#section1{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: center;

}
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 50%;
    height: 80%;
    background-color: cadetblue;
    
}
.eish{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: coral;
    
}
.welcome{
    text-align: center;
    justify-content: center;
    font-size: 150pt;
    width: 80%;
    height: 60%;
    font-family: Rancho Regular;
}
.me{
    font-family: Auster;
    font-weight: medium;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 70%;
    height: 25%;
    font-size: 25pt;
    background-color: darkcyan;
}
.name{
    display: grid;
    grid-template-rows: 70% 30%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: darkcyan
}
.about{
    font-family: Karma;
    font-size: 20px;
    width: 100%;
    height: 70%;
    padding-top: 20%;
    
}
.icons{
    justify-content: center;
    align-items: center;
    place-self: center;
width: 50%;
height: 90%;
display: grid;
grid-template-columns: repeat(5, 25%);
gap: 1rem;
margin-bottom: 10px;
}
.icon{
    place-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: red;
}

#pictuer{
    
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    background-color: chocolate;
}
.pic{
    display: flex;
    
    width: 100%;
    height: 80%;
    background-color: coral;
}
.calltoaction{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: darkcyan;
    gap: 1rem;
    place-self: center;
}
.button1{
    margin-left: 36%;
    place-self: center;
    text-align: center;
    padding-top: 10px;
    width: 12%;
    height: 20%;
    background-color: blue;
    border-radius: 20px;
    font-size: 1rem;
    
}
.button2{
    padding-top: 10px;
    place-self: center;
    text-align: center;
    width: 12%;
    height: 20%;
    background-color: pink;
    border-radius: 20px;
    font-size: 1rem;
}

.section:nth-child(1) {
    background-color: #1abc9c;
}

#section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
.textone{
    padding: 5%;
    height: 50%;
    width: 35%;
    background-color: brown;
    font-size: 16pt;
    text-align: left;
}

.texttwo{
    height: 80%;
    width: 40%;
    flex: 1;
background-color: chartreuse;}

.section:nth-child(2) {
    background-color: #3498db;
    flex: 0 0 80vh;
}


#section3{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: center;

}
#career{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 40%;
    height: 50%;
    padding: 5%;
    font-size: 20pt;
    font-family: Karma;
    font-weight: medium;
}
#arsenal{
    
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    background-color: indigo;
    gap: 1rem;
}
.skill{
    display: grid;
    grid-template-rows: 40% 60%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    background-color: lightcoral;
}
.skilltitle{
    height: 40%;
    width: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    place-items: center;
    font-size: 70pt;
    font-family: Rancho Regular;
}
.skilltext{
    text-align: center;
    place-items: center;
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: red;
    font-family: Karmara;
    font-size: 27pt;
}
.level{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: #1abc9c;
} 
.level{
    display: grid;
    grid-template-rows: 20% 80%;

} 
.big-row {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #9b59b6;
}
.small-row {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 78%;
    background-color: lightsteelblue;
}
.tools{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 1rem);
    gap: 3%;
text-align: center;
font-size: 10pt;
}
.description{
    text-align: center;
}
.range{
    margin-left: 5%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 1rem);
    gap: 3%;
}

.section:nth-child(3) {
    background-color: #e74c3c;
    flex: 0 0 120vh;
}


#section4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
#myvoice{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: orange;
    gap: 1rem;
}
.fullbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: yellow;
}
#mv{
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 68%;
    height: 100%;
    background-color: green;
}
#mv {
    display: grid;
    grid-template-columns: 50% 50%;
}

.mv1{
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 1rem;
    background-color: black;
    height: 100%;
}
.mv2{
    background-color: red;
    display: grid;
    grid-template-rows: 50% 50%;

    height: 100%;
}
#mvtext{
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    background-color: red;
}

.section:nth-child(4) {
    background-color: #9b59b6;
}

#section5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
#mfmtext{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50%;
    background-color: purple;
    margin-left: 5%;
}
#mfmpic{
    display: grid;
    grid-template-rows: 80% 16%;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: pink;
    margin-right: 5%;
}
.slid{
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 50px; 
}
.sec {
    height: 100%;
    width: 100%;
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    padding: 60px 20px;
    box-sizing: border-box;
}
.sec:target{
    left: 0;
    opacity: 1;
}
.navbar {
    background-color: #333;
    
    place-self: center;
    width: fit-content;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.icon-container {
    visibility: hidden;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.section:nth-child(5) {
    background-color: #f1c40f;
    flex: 0 0 70vh;
}

#section6{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 1rem;
    justify-content: center;

}
#yampic{
    display: flex;
    flex: 2;
    width: 50%;
    height: 90%;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 5%;
    gap: 1%;
}
.pic5{
    height: auto;
} 
.pic6{
    height: 100%;
}
#yamtext{
    
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: chocolate;
    margin-left: 5%;
}

.section:nth-child(6) {
    background-color: #e67e22;
    flex: 0 0 80vh;
}

#section7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: yellow;
    gap: 5%;
}

.vibestext{
    place-self: center;
    display: flex;
    width: 50%;
    height: 40%;
    background-color: blueviolet;
}
.vibesbook{
    display: flex;
    width: 95%;
    height: 60%;
    background-color: brown;
}
.section:nth-child(7) {
    background-color: #2ecc71;
    flex: 0 0 90vh;
}

/* Responsive layout */
@media (max-width: 390px) {
    #section1{
        display: grid;
        grid-template-row: 100% 100%;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    #intro{
        height: 100%;
        width: 390px;
        background-color: red;
    
    }
    #pictuer{
        height: 100%;
        width: 390px;
        display: grid;
        grid-template-columns: 40% 60%;
    }
    #section2 {
        display: grid;
        grid-template-rows: 355px 500px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: none;
    
    
    }
    .textone{
        height: 100%;
        width: 390px;
        
        background-color: brown;
    }
    
    .texttwo{
        height: 100%;
        width: 390px;
    background-color: chartreuse;}

    #section3{
        display: grid;
        grid-template-rows: 250px 600px;
        width: 100%;
        height: 100%;
        align-items: center;
        gap: 5px;
        justify-content: center;
    
    }
    #career{
        justify-content: center;
        width: 390px;
        height: 250px;
    }
    #arsenal{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 605px;
        background-color: indigo;
        gap: 1rem;
    }
    #section4{
        display: grid;
        grid-template-rows: 250px 600px;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 5px;
    }
    #myvoice{
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 600px;
        background-color: orange;
    }
    #mvtext{
        
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 250px;
        background-color: red;
    }
    #section5{
        display: grid;
        grid-template-rows: 250px 600px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 100%;
    }
    #mfmtext{
        place-self: center;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 100%;
        background-color: purple;
    }
    #mfmpic{
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 90%;
        background-color: pink;
    }
    #section6{
        display: grid;
        grid-template-columns: 140px 260px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    
    }
    #yamtext{
        place-self: center;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 50%;
        background-color: chocolate;
    }
    #yampic{
        place-self: center;
        justify-content: center;
        flex: 1;
        width: 260px;
        height: 100%;
        background-color: cadetblue;
    }
}